<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.taikang.mapper.UserMapper">
  <select id="query" resultType="com.taikang.entity.Users">
    select * from users where oa =#{arg0} and department=#{arg1}
  </select>
  <select id="queryByoa" resultType="com.taikang.entity.Users">
    select * from users where oa =#{oa}
  </select>
  <select id="queryByoa2" resultType="com.taikang.entity.Users">
    select * from users where oa =#{arg0} and institution=#{arg1}
  </select>
  <select id="selectAll" resultType="com.taikang.entity.Users">
    select * from users 
  </select>
  <select id="queryByid" resultType="com.taikang.entity.Users">
    select * from users where id = #{id}
  </select>
  <select id="queryByins" resultType="com.taikang.entity.Users">
    select * from users where institution = #{ins}
  </select>
  <select id="queryBydpt" resultType="com.taikang.entity.Users">
    select * from users where department = #{dpt}
  </select>
  <insert id="addUser"  useGeneratedKeys="true" keyProperty="id">
  insert into users values(#{id},#{institution},#{oa},#{department},#{systemname},#{username},#{applytime},#{applyid},#{endtime},#{endid},#{status})
  </insert>
  <delete id="deleteUser">
  delete from users where id = #{id}
  </delete>
  <update id="changeStatus">
  update users set status='false' where id = #{id}
  </update>
  <update id="changepsd">
  update admin set psd=#{arg1} where department = #{arg0}
  </update>
  <update id="update">
  update users set status='已注销', endid=#{endid},endtime=#{endtime} where id = #{id}
  </update>
</mapper>